@model IEnumerable<cristventcode_web.Models.Writing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul class="list-group">
    @foreach (var writing in Model)
    {
        <li class="list-group-item">
            <strong>@writing.Title</strong><span style="float:right">
                @Html.ActionLink("Edit", "Edit", new { id = writing.WritingId }) |
                @Html.ActionLink("Details", "Details", new { id = writing.WritingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = writing.WritingId })
            </span>
        </li>
    }
</ul>