@model cristventcode_web.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GithubUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GithubUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternalUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToolsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolsUsed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
