@model IEnumerable<cristventcode_web.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<ul class="list-group">
    @foreach (var project in Model)
    {
        <li class="list-group-item">
            <strong>@project.Title</strong><span style="float:right">
                @Html.ActionLink("Skills", "Skills", new { id = project.ProjectId }) |
                @Html.ActionLink("Edit", "Edit", new { id = project.ProjectId }) |
                @Html.ActionLink("Details", "Details", new { id = project.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { id = project.ProjectId })
            </span>
        </li>
    }
</ul>